# OS
# ===========
.DS_Store
Thumbs.db

# Project
# ===========
dist/angular-leaflet.pre.js
dist/angular-leaflet.min.no-header.js
js/angular-leaflet-webpage.ngmin.js

# Related ecosystem
# ===========
node_modules
bower_components
coverage
saucelabs.json

# General
# ===========
temp
*.log
*.swp
.*.swp
*~
*.iml
.idea
.project
core
lib
tags
.tags
TAGS
.TAGS
